



.ball {
  fill: #172554;
  visibility: hidden;
}

.line {
  fill: none;
  stroke: #172554;
  stroke-width: 2px;
}
text {
  color: #172554;
  font-size: 15px;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; 
  visibility: hidden;
}
