body {
	height: 400vh;
    color: black;
}

.header-section {
  margin: 100px auto 0;
}

svg {
  max-width: 600px;
  overflow: visible;
  margin-top: 60vh;
}

.ball {
  fill: rgb(0, 0, 0);
  visibility: hidden;
}

.line {
  fill: none;
  stroke: rgb(0, 0, 0);
  stroke-width: 2px;
}
text {
  fill: rgb(0, 0, 0);
  font-size: 15px;
  font-family: "Signika Negative", sans-serif; 
  visibility: hidden;
}
